VITE_API_URL=http://localhost:4000

# Debe ser la misma VAPID_PUBLIC_KEY que pusiste en backend/.env (esta sí es pública, no es secreta)
VITE_VAPID_PUBLIC_KEY=BHtX6zoKXZT1MLE7uD-fwIdT8X-fwq20Gbj1zFpoeT-0OHvZpSVuf4hMLRZ1oFrNaOvddahwCivHVIpZqJ3mFHE
